@use "../../../../scss/var" as varible;

.chats {
  font-family: varible.$font;
  color: varible.$gray;
  &__header {
    margin-left: 16px;
    font-size: 30px;
    font-weight: 500;
  }
  div {
    margin-left: 9px;
    &:hover {
      border-right: 5px solid varible.$beige;
    }
  }
}
