@use "../../../../scss/var" as varible;

.friends {
  font-family: varible.$font;
  color: varible.$gray;
  &__header {
    margin-left: 16px;
    font-size: 30px;
    font-weight: 500;
  }
  .active {
    background-color: varible.$black-1;
  }
}
