@use "./../../scss/var" as varible;

.friendProfile{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: varible.$font;
    color: varible.$gray;
}
