@use "../../scss/var" as varible;

.search {
    height: 40px;
    width: 75%;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: varible.$black-1;
    font-family: varible.$font;
    color: varible.$gray;
    margin: 10px 0px 10px 0px;
    padding-left: 50px;
    margin-left: 16px;
}

.icon {
    position: absolute;
    color: varible.$gray;
    margin: 15px 0px 0px 20px;
}