@use "../../scss/var" as varible;
@use "../../scss/mixin" as mixin;

.search {
    height: 40px;
    width: 75%;
    margin: 10px 0px 10px 0px;
    padding-left: 50px;
    margin-left: 16px !important;

    @include mixin.input;
}

.icon {
    position: absolute;
    color: varible.$gray;
    margin: 15px 0px 0px 20px;
}