@use "../../scss/var" as varible;
@use "../../scss/mixin" as mixin;

.inputReg {
  &__input {
    height: 40px;
    background-color: varible.$black !important;
    margin: 10px 0px 10px 0px;
    padding-left: 50px;

    @include mixin.input;
  }

  &__icon {
    position: absolute;
    color: varible.$beige;
    margin: 15px 0px 0px 5px;
  }
}